@use 'var.scss';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html, body {
  height: 100vh;
  width: 100%;
}
body {
  background: var.$bg;
  color: var.$text-primary;
}
body,
input,
button,
textarea, a, select, label  {
  font: 400 1rem "Inter";
}
a {
  text-decoration: none;
}
input, select, button, a {
  transition: 200ms;
  border: none;
}
button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
.flex {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: center;
}
::placeholder {
  color: var.$gray200; /* Define a cor do placeholder */
}
h1, h2, h3 {
  color: var.$title;
}