$bg: #121214;
$gray900: #0a0a0a;
$gray800: #181818;
$gray600: #202024;
$gray500: #29292E;
$gray400: #27282d;
$gray300: #323238;
$gray200: #7C7C8A;
$green700: #00875F;
$green500: #00B37E;
$red700: #AA2834;
$red500: #F75A68;
$white: #fff;
$title: #E1E1E6;
$text-primary: #C4C4CC;
$text-secondary: #8D8D99;